.grid-item {
  list-style: none;
  background-color: rgb(102, 107, 108);
  text-align: center;
  color: aliceblue;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}

.page-layout > * {
  background-color: coral;
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem;
}

.page-layout {
  margin-top: 40px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 400px 100px;

  /* grid-template-areas:
    "nav nav nav"
    "sidebar content content"
    "foot foot foot"; */
}

.page-layout header {
  /* grid-area: nav; */
  grid-column: 2 / 3;
  grid-row: 1/2;
}

.page-layout main {
  background-color: cyan;
  /* grid-area: content; */
  grid-column: 3/4;
  grid-row: 2/3;
}

.page-layout aside {
  background-color: brown;
  /* grid-area: sidebar; */
  grid-column: 1/2;
  grid-row: 2/3;
}

.page-layout footer {
  /* grid-area: foot; */
  grid-column: 1/4;
  grid-row: 3/4;
}
