body {
  background-color: rgb(237, 231, 231);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Classic card */

.card {
  background-color: white;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}

.card .head {
  position: relative;
  height: 250px;
}

.card .head .head__tag {
  position: absolute;
  top: 18px;
  right: 22px;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 8px;
  padding: 4px 12px;
  letter-spacing: 1.1px;
}

.head .head__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.card .cont {
  padding: 18px 22px;
  position: relative;
}

.card .cont.cont--icon .cont__title,
.card .cont.cont--icon .cont__desc {
  width: calc(100% - 32px -18px);
}

.card .cont.cont--icon .cont__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 22px;
  font-size: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card .cont.cont--icon .cont__title {
  margin-bottom: 12px;
}

.card .cont.cont--icon .cont__desc {
  color: rgb(123, 120, 126);
}

/* Read-more card */
.card .cont .cont__title {
  margin-bottom: 12px;
}

.card .cont .cont__desc {
  color: rgb(123, 120, 126);
}

.card .cont .read-more {
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 16px;
  font-size: 18px;
  border: none;
  color: aliceblue;
  background-color: blue;
  border-radius: 36px;
  cursor: pointer;
  z-index: 1;
  opacity: 1;

  transition: all 200ms ease-in-out;
}

.card.card--read-more:hover {
  box-shadow: 10px 10px 21px -18px rgba(0, 0, 0, 0.75);
  transform: scale(0.9);
}

.card.card--read-more:hover .cont .read-more {
  /* box-shadow: 10px 10px 21px -18px rgba(0, 0, 0, 0.75); */
  bottom: 22px;
  opacity: 1;
}

.cont .read-more:hover {
  background-color: rgb(174, 0, 255);
}

.card .cont:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 200px;
  left: 0px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(255, 255, 255, 0.10437678489364499) 62%
  );
}

.card.card--read-more:hover .cont:after {
  top: 0px;
}

/* Fill image card */
.card--stretch {
  height: 300px;
  overflow: hidden;
}

.stretch {
  position: relative;
  height: 300px;
  width: 100%;
  height: 100%;
}

.stretch::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.537);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.stretch__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}

.stretch__tag {
  position: absolute;
  top: 28px;
  left: 32px;
  color: aliceblue;
  background-color: red;
  padding: 4px 12px;
  border-radius: 8px;
  letter-spacing: 1.1px;
}

.stretch__menu {
  position: absolute;
  top: 30px;
  right: 32px;
  color: rgba(255, 255, 255, 0.872);
  font-size: 24px;
  font-size: xx-large;
}

.stretch__cont {
  position: absolute;
  bottom: 28px;
  left: 32px;
  color: aliceblue;
}

.stretch__cont-desc {
  color: rgba(255, 255, 255, 0.904);
}

.card--stretch:hover {
  box-shadow: 10px 10px 21px -18px rgba(0, 0, 0, 0.75);
  transform: translateY(2px);
}

/* Card-box */
.card-box {
  background-color: coral;
  border-radius: 20px;
  height: 300px;
  position: relative;
}

.card-box__cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(240, 248, 255, 0.858);
}

.card-box__icon {
  margin-bottom: 12px;
  font-size: xx-large;
}

.card-box__text {
  font-size: x-large;
}

.card-box:hover {
  box-shadow: 10px 10px 14px -18px rgba(0, 0, 0, 0.75);
  transform: translate(1px, 1px);
}

.layout {
  display: grid;
  margin: auto 5px;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "read fil card"
    ". places .";
}

.layout-item-1 {
  margin: 10px auto;
  /* grid-column: 1/2;
  grid-row: 2/3; */
  grid-area: places;
}
.layout-item-2 {
  margin: 10px auto;
  /* grid-column: 2/3;
  grid-row: 1/2; */
  grid-area: fil;
}
.layout-item-3 {
  margin: 10px auto;
  /* grid-column: 1/2;
  grid-row: 1/2; */
  grid-area: read;
}
.layout-item-4 {
  margin: 10px auto;
  /* grid-column: 3/4;
  grid-row: 1/2; */
  grid-area: card;
}
